Clementi_Welch_proposal_2016.lyx~
Clementi_Welch_proposal_2016.pdf
\#Clementi_Welch_proposal_2016.lyx#
SNARE.pdf
SNARE.pptx
SNARE2.png
Screen Shot 2016-01-17 at 5.13.45 PM.png
\#Clementi_Welch_proposal_2016_Frank.lyx#
1-s2.0-S0021999115002430-main.pdf
Clementi_Welch_proposal_2016_Frank.lyx~
Clementi_Welch_proposal_2016_Frank.pdf
ct400628h.pdf
